* { margin: 0; padding: 0; }

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 50px;
}

header .logo2 {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 20px;
}

.container {
    margin-left: 20px;
}

.box-filme {
    height: 30%;
    width: 30%;
	align:center;
    display: block;
    cursor: pointer;
}

.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #000;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 20;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider li:nth-child(4) label {
    left: 70px;
}

.slider li:nth-child(5) label {
    left: 70px;
}

.slider li:nth-child(6) label {
    left: 70px;
}


.slider li:nth-child(7) label {
    left: 70px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 20;
}

.container {
    margin-left: 20px;
}


.footer {
    position: fixed;
    left: 0;
    margin-top: 2rem;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}